---
import { getCollection } from 'astro:content';
import WrapperLayout from '../../layouts/Wrapper.astro';

export async function getStaticPaths() {
  const blogPosts = await getCollection('blog');

  return blogPosts.map(({ slug, data, render }) => {
    return {
      params: { slug },
      props: { post: data, render },
    };
  });
}

const { post, render } = Astro.props;

const { Content } = await render();
---

<WrapperLayout>
  <h1>{post.title}</h1>
  <time datetime={post.date.toISOString()}>{post.date.toDateString()}</time>
  <Content />
</WrapperLayout>
